{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="text-center my-5">
  <h1 class="display-5">Learn and teach skills in<br>your community</h1>
  <div class="mt-5">
    <a href="{% url 'dj_skillswap_app:post_create' %}" class="btn custom-offer-btn me-3 px-4 py-2 fw-semibold"
      style="background-color: #02ad7c; color: white;">Offer a skill</a>
    <a href="{% url 'dj_skillswap_app:post_list' %}" class="btn btn-outline-dark px-4 py-2 fw-semibold">Find a skill</a>
  </div>
</div>
<div class="container mb-5">
  <form method="get" action="{% url 'dj_skillswap_app:post_list' %}">
    <div class="row justify-content-center g-2">
      <div class="col-md-4">
        <input type="text" name="param" class="form-control" placeholder="🔍 Search posts...">
      </div>
      <div class="col-md-2">
        <select class="form-select" name="category">
          <option value="">All Categories</option>
          {% for cat in categories %}
            <option value="{{ cat.id }}">{{ cat.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-auto mt-3">
        <button type="submit" class="rounded filter-button px-4 py-2 me-3 fw-semibold"
          style="background-color: #02ad7c; color: white;">Filter</button>
      </div>
    </div>
  </form>
</div>
<p class="text-center text-muted">Found {{ total_posts }} post(s).</p>
<h2 class="text-center mb-4">Latest Posts</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center mb-5">
  {% for post in posts %}
    <div class="col" style="max-width: 320px;">
      {% include 'partials/post_card.html' %}
    </div>
  {% empty %}
    <p class="text-center">No posts available right now.</p>
  {% endfor %}
</div>

{% endblock %}