<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Skill Swap List</h1>
   <form method="get" action="{% url 'posts' %}">
  <input type="text" name="param"  placeholder="Enter a skill">
  <button type="submit">Search</button>
  {% csrf_token %}
</form>
  <table>
    <table>
    <thead>
        <tr>
            {% for field in fields %}
                <th>{{ field.verbose_name|title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>


</body>
</html>