<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Skill Swap List</h1>
   <form method="get" action="{% url 'post_list' %}">
  <input type="text" name="param"  placeholder="Enter a skill">
  <button type="submit">Search</button>
  {% csrf_token %}
</form>
  <table>
    <table>
    <thead>
        <tr>
            {% for field in fields %}
                <th>{{ field.verbose_name|title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr data-href="{% url 'post_details' row.id %}">
                {% for value in row.values %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
  </table>
  <script>
    document.querySelectorAll('tr[data-href]').forEach(row => {
        row.addEventListener('click', () => {
            window.location.href = row.dataset.href;
        });
    });
  </script>
</body>
</html>