<div class="v-card">
	<!-- tab Content -->
	<div class="tab-content">
		<!-- Tab Pane - Home -->
		<div class="tab-pane fade active in" id="home">
			<!-- Home Image -->
			<div class="vcard-img">
				<a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-responsive img-thumbnail"></a>
			</div>
			<div >
				<!-- Name -->
				<h4>{{ post_data.profile }}</h4>
        <!-- Bio -->
				<p>{{ post_data.profile.bio }}</p>
				<hr>
				<!-- Skills Offering/requesting -->
				<h4>{{ post_type }}</h4>
				<small>Skill</small>
				<span class="label label-red">{{ post_data.skill }}</span>
				<small>Category</small>
				<span class="label label-red">{{ post_data.skill.category }}</span>
				<br>
				
        <p><strong>Why me?</strong> {{ post_data.pitch }}</p>

        <p>
				
					<strong>{{post_what}}</strong>
	
					{{ post_data.description }}</p>
        <h5>Avaliability <em>{{ post_data.avaliability }}</em></h5>
				<h5>Status <em>{{ post_data.status|yesno:"Active,Inactive" }}</em></h5>
				<a href="{% url 'post_update' post_data.id %}">Edit this post</a>

			</div>
	
	</div>
</div>                                        
