{% extends 'base.html' %}
{% block content %}
  <h2>Sign Up</h2>

   {% if form.errors %}
    <div class="error">
      {{ form.non_field_errors }}
      {% for field in form %}
        {{ field.errors }}
      {% endfor %}
    </div>
  {% endif %}
  <form method="post" action="{% url 'dj_skillswap_app:signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>

   <p>Already have an account? <a href="{% url 'dj_skillswap_app:login' %}">Log In</a></p>
{% endblock %}
